---
import Achievement from "../public/Achievement.astro";
---

<section class="container">
  <div class="row">
    <div class="col-6 col-md-3">
      <Achievement
        icon="bi-hand-thumbs-up"
        title="Projects completed"
        value={198}
      />
    </div>
    <div class="col-6 col-md-3">
      <Achievement
        icon="bi-hand-thumbs-up"
        title="Projects completed"
        value={198}
      />
    </div>
    <div class="col-6 col-md-3">
      <Achievement
        icon="bi-hand-thumbs-up"
        title="Projects completed"
        value={198}
      />
    </div>
    <div class="col-6 col-md-3">
      <Achievement
        icon="bi-hand-thumbs-up"
        title="Projects completed"
        value={198}
      />
    </div>
  </div>
</section>

<style lang="scss">
  section {
    margin: 4rem 0;
  }
</style>
