<section class="container">
  <h2 class="section-title">Experience</h2>

  <div class="paper mt-5">
    <ul>
      <li>
        <div>2022 - Present</div>
        <div>Frontend Developer - Liberty Fianzas</div>
        <div>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore,
          dolor.
        </div>
      </li>
      <li>
        <div>2022 - Present</div>
        <div>Frontend Developer - Liberty Fianzas</div>
        <div>
          Lorem, ipsum dolor sit amet consectetur adipisicing elit. Labore,
          dolor.
        </div>
      </li>
    </ul>
  </div>
</section>

<style lang="scss">
  section {
    margin: 4rem 0;

    .paper {
      background: #fff;
      border-radius: 1rem;
      box-shadow: 0px 5px 20px 0px rgb(69 67 96 / 10%);
      padding: 5px;
      ul {
        padding-top: 20px;

        li {
          list-style: none;
          padding-bottom: 1.5rem;
          border-left: 1px solid #ff4c60;
          position: relative;
          padding-left: 20px;
          margin-left: 10px;

          div:first-child {
            font-size: 0.8rem;
            color: #ff4c60;
            font-weight: 600;
          }

          div:nth-child(2) {
            font-size: 1.2rem;
            font-weight: 600;
            padding-bottom: 0.5rem;
          }

          div:last-child {
            font-size: 0.9rem;
            color: #666;
          }
        }
      }
    }
  }
</style>
