---
import ContactForm from "../public/ContactForm";
---

<section class="container">
  <h2 class="section-title">Get In Touch</h2>

  <div class="row mt-5">
    <div class="col-12 col-md-4 bg-map">
      <h3>Let's talk about everything!</h3>
      <p>
        Don't like forms? <a href="mailto:axel.leon@nodeaxan.com"
          >Send me an email</a
        >. 👋
      </p>
    </div>
    <div class="col-12 col-md-8">
      <ContactForm client:visible />
    </div>
  </div>
</section>

<style lang="scss">
  section {
    margin: 4rem 0;

    .bg-map {
      background: url("../../assets/images/map.svg") no-repeat;
      background-size: contain;
      background-position: center;
      border-radius: 0.5rem;
      min-height: 100px;
    }
  }
</style>
