---
import Service from "../public/Service.astro";
---

<section class="container">
  <h2 class="section-title">Services</h2>
  <div class="row mt-5">
    <div class="col-12 col-md-4">
      <Service
        icon="bi-palette"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        title="Graphic Design"
      />
    </div>
    <div class="col-12 mt-4 mt-md-0 col-md-4">
      <Service
        icon="bi-code-square"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        title="Web Development"
        color="#343353"
        bgColor="#f9d74c"
      />
    </div>
    <div class="col-12 mt-4 mt-md-0 col-md-4">
      <Service
        icon="bi-phone"
        description="Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quod."
        title="Mobile Development"
        bgColor="#ff4c60"
      />
    </div>
    <div class="col-12 mt-5 text-center">
      Looking for a custom service? <a href="/contact">Click here</a> to contact
      me! 👋
    </div>
  </div>
</section>

<style lang="scss">
  section {
    margin: 4rem 0;
  }
</style>
